
@{
    ViewBag.Title = "CadastroInteresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Usuario/_UsuarioBeforePartialView.cshtml")

<h2>CadastroInteresses</h2>

Cidades:




@Html.Partial("~/Views/Shared/Usuario/_UsuarioAfterPartialView.cshtml")

