@model PreTrip.ViewModel.CompraViewModel

<div class="col-md-9 wrapcenter">
    <div class="col-md-8" style="border:double 1px solid #eee">
        @foreach (var pedido in Model.Pedidos)
        {
            <div>
                Destino: @pedido.Viagem.Titulo <br/>
                Preço final: @pedido.PrecoFinal
                <hr/>
            </div>
        }
    </div>
</div>