@{
    ViewBag.Title = "PrincipaisInteresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Usuario/_UsuarioBeforePartialView.cshtml")

@using PreTrip.Session

<h3 style="text-align:center;">Escolha os principais destinos de seu interesse</h3>

@using (Html.BeginForm("AlterarUsuario", "Usuario", FormMethod.Post))
{
    <table class="table table-hover" style="width:50%;margin:0 auto;">
        <thead>
            <tr>
                <th colspan="2" style="text-align:center;">Cidades</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @{#warning Implementar o For com as cidades aqui.}
            <tr>
                <td>Rio de Janeiro</td>
                <td>
                    <input type="checkbox" value="true" />
                </td>
            </tr>
            @{#warning Terminar o For com as cidades aqui.}
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning pull-left">Confirmar</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}

@Html.Partial("~/Views/Shared/Usuario/_UsuarioAfterPartialView.cshtml")