@model IEnumerable<string>
@{
    ViewBag.Title = "PrincipaisInteresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Usuario/_UsuarioBeforePartialView.cshtml")


<h3 style="text-align:center;">Escolha os principais destinos de seu interesse</h3>

@using (Html.BeginForm("Interesses", "Usuario", FormMethod.Post))
{
    <table class="table table-hover" style="width:50%;margin:0 auto;">
        <thead>
            <tr>
                <th colspan="2" style="text-align:center;">Cidades</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{#warning Implementar o For com as cidades aqui.}
            @foreach (string cidade in @Model)
            {
                <tr>
                    <td>@cidade</td>
                    <td>
                        <input type="checkbox" name="cidadesEscolhidas" value="@cidade" />
                    </td>
                </tr>
            }
            @{#warning Terminar o For com as cidades aqui.}
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning pull-left">Confirmar</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}

@Html.Partial("~/Views/Shared/Usuario/_UsuarioAfterPartialView.cshtml")