#Ignora todas bin e obj
**/bin/
**/obj/

*/bin/
*/obj/

#Permite tudo dentro de packages onde quer que ela esteja(para dependencias)
!*/packages/*

#Ignora alguns defaults do visual studio
/src/.vs/PreTrip/v14/.suo
/src/.vs/config/applicationhost.config