@using PreTrip.Session
<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @{
                    //Atributos comuns de cada botão do menu
                    var att = new
                    {
                        @class = "btn navbar-btn btn"
                    };

                    //Pegos os atributos padrão à todos e adiciono o único a cada item
                    var attLogout = new { @class = att.@class + " btn-danger" };
                }

                <li>
                    @Html.ActionLink(@PreTripSession.Usuario.Pessoa.Nome, "Index", "Usuario", att)
                </li>    
                <li>
                    @Html.ActionLink("Logout", "Index", null, attLogout)
                </li> 
                <li>
                    <a href="@Url.Action("MeuCarrinho", "Usuario")">
                        <i class="material-icons" style="vertical-align: middle; color: #000000">shopping_cart</i>
                    </a>
                </li>                    
            </ul>
        </div>
    </div>
</div>