
@Html.Partial("~/Views/Shared/Administrativo/_AdministrativoBefore.cshtml");

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Ultimas Viagens Registradas</div>
                @*<div class="panel-body">
                    <p>
                        Texto adicional se necessário
                    </p>
                </div>*@

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>Usuário</th>
                        <th>Descrição Viagem</th>
                        <th>Origem </th>
                        <th>Destino</th>
                    </tr>
                    @foreach(var usuario in ViewBag.Usuarios)
                    {
                        <tr>
                            <td>@usuario.Login</td>                            
                        </tr>
                    }
                </table>
            </div>

@Html.Partial("~/Views/Shared/Administrativo/_AdministrativoAfter.cshtml");