@using PreTrip.Session

<div class="row" style="background-color: #e8e8e8">
    <div class="col-md-10 wrapcenter" style="padding: 3em 0">
        <div class="row">
            <div class="col-md-6">
                <h3>@PreTripSession.Usuario.Pessoa.Nome</h3>
                <p>Procure por sugestões, cadastre viagens.</p>
            </div>

            <div class="col-md-6 text-right">
                @Html.ActionLink("Meu Perfil", "AlterarUsuario", "Usuario", new { @class = "btn" })
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 3em 0;">
    <div class="col-md-10 wrapcenter">
        <div class="panel panel-default panel-body">
            <div class="col-md-4">
                <div class="btn-group-vertical" role="group" style="width: 100%;">
                    @Html.ActionLink("Empresas", "Empresas", "Usuario", new { @class = "btn btn-default" })
					@Html.ActionLink("Viagens", "Index", "Viagem", new { @class = "btn btn-default" })
                </div>
            </div>

            <div class="col-md-8">
