@model PreTrip.Model.Classes.Usuario
@{
    ViewBag.Title = "Pre-Trip";
}
<div class="row col-md-8 wrapcenter" style="padding: 3em 0">
    <div class="col-md-4" style="padding: 5em 0">
        <h2>Organize sua Caravana</h2>
        <p>
            Sempre foi um sonho conhecer lugares diferentes? Por que não organizar sua própia caravana para reunir os amigos e conhecer pessoas novas!
        </p>

        <i class="material-icons" style="font-size: 10rem; vertical-align:middle; color: #808080">clear_all</i>
        <i class="material-icons" style="font-size: 13rem; vertical-align:middle; color: #0992cf">airport_shuttle</i>
    </div>

    <div class="col-md-8">
        @using (Html.BeginForm("Cadastrar", "Cadastro", FormMethod.Post))
        {
           @Html.Partial("~/Views/Shared/Cadastro/_CadastroUsuarioPartialView.cshtml", @Model);
        }
    </div>
</div>

<div class="row row-sep " style="background: #333;">
    <div class="wrapcenter col-md-7">
        <div class="col-md-12 text-center" style="color: #999; padding: 2em;">

            <h2 style="color: #fff;">Realizando Sonhos</h2>
            <p>
                Você pode organizar viagens para lugares fantásticos, onde você sempre sonhou em ir..
            </p>

            <div style="padding: 2em;">
                <i class="material-icons" style="font-size: 8rem; color: #1fbb01">nature_people</i>
            </div>

        </div>
    </div>
</div>

<div class="clearfix"></div>